@font-face {
    font-family: 'RobotoSlab';
    src: url('../fonts/RobotoSlab-VariableFont_wght.svg') format('svg'),
         url('../fonts/RobotoSlab-VariableFont_wght.ttf') format('truetype'),
         url('../fonts/RobotoSlab-VariableFont_wght.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype'),
        url('../fonts/Roboto-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.wrapper{
    max-width: 1115px;
    width: 100%;
    margin: 0 auto;
}
body{
    background-color: #fbebd7;
    font-family: 'RobotoSlab';
}
a{
    color: #57984C;
}
a:hover{
    text-decoration: none;
    color: #57984C;
}
a:visited{
    color: #57984C;
}
/*                  Site top                */

.banner{
    background-color: #fff;
    padding-top: 20px;
}
.header{
    max-height: 113px;
    display: flex;
}
.searchnav{
    display: flex;
    flex-direction: column;
}
.bgtomato{
    height: 480px;
    margin-top: 20px;
    background: url(../images/tangerineOne/banner.jpg) center center/cover no-repeat;
}

/*                 Search menu               */

.search{
    width: 350px;
    height: 29px;
    float: right;
}
input, button{
    background: transparent;
    border: none;
    display: inline-block;
    outline: none;
}
button{
    float: right;
    cursor: pointer;
}
hr{
    max-width: 350px;
    border: none ;
    margin: 0;
    height: 1px;
    background-color: black;
    color: black;
}

/*                   Nav list                */

.list{
    margin-left: 10px;
    font-weight: 600;
    font-size: 18px;
    font-family: 'Roboto';
    color: #324950;
}
.navigation{
    text-align: right;
    margin-top: 42px;
}

.menu{
    justify-content: end;
}
.menu, .search{
    margin-top: -40px;
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px;
    justify-content: end;
}
.navbar a{
    text-decoration: none;
    color: inherit;
}
.logo{
    margin-right: 50px;
}
.list{
    list-style: none;
    display: flex;
    gap: 25px;
}
#toggler,
.navbar label{
    display: none;
}

/*                   main                 */

.main_activ{
    font-size: 44px;
    color: #324950;
    padding-top: 50px;
    text-align: left;
    font-weight: 700;
}
.activ_union{
    margin-bottom: 40px;
    margin-top: 35px;
}
.main_text p, .line_bold{
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 30px;
}
.main_text .line, .line_bold{
    border-left: 4px solid #EB5757;
    padding-left: 26px;
} 
.line_bold{
    font-weight: 700;
    margin-top: 47px;
    margin-bottom: 47px;
}
.activ_row{
    background-color: #fff;
    padding: 0 5px 50px;
}
.activ_column{
    font-size: 20px;
}
.activ_column .topic{
    margin-bottom: 0;
    margin-top: 50px;
}
.activ_column .activ_examples{
    margin-top: 10px;
    font-size: 17px;
    font-weight: 400;
    color: #324950;
}
.wh_bg{
    background-color: white;
    margin-bottom: 30px;
    padding: 9px 0;
    color: #57984C;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.line, .col-xl-4 img{
    width: 100%;
}

/*                     footer                   */

.footer1 {
    min-height: 76px;
    background-color: #2D3F45;
    padding-top: 13px;
    list-style-type: none;
}

.footer1 .row {
    margin-top: 10px;
}

.footer__item {
    margin: 0 20px;
    margin-top: 5px;
}

.footer__item a {
    font-family: 'Roboto';
    color: #fff;
    font-size: 16px;
}

.footer__link {
    margin: 0 13px;
}

.crosses {
    padding-top: 20px;
}

.footer__menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

footer {
    background-color: #324950;
    color: #B9B9B9;
    font-family: 'Roboto';
    font-size: 14px;
    padding: 10px 0;
}