@font-face {
    font-family: 'RobotoSlab';
    src: url('../fonts/RobotoSlab-VariableFont_wght.svg') format('svg'),
         url('../fonts/RobotoSlab-VariableFont_wght.ttf') format('truetype'),
         url('../fonts/RobotoSlab-VariableFont_wght.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype'),
        url('../fonts/Roboto-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.wrapper{
    max-width: 1115px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
body{
    background-color: #f7f7f7;
    font-family: 'RobotoSlab';
}
a:hover{
    text-decoration: none;
}

/*                  Site top                */

section.header{
    -webkit-box-shadow: 0px 3px 30px 0px rgba(34, 60, 80, 0.26);
    -moz-box-shadow: 0px 3px 30px 0px rgba(34, 60, 80, 0.26);
    box-shadow: 0px 3px 30px 0px rgba(34, 60, 80, 0.26);
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
}
/* .header{
    display: flex;
} */
.logo img{
    width: 166px;
    height: 83px;
}
.searchnav{
    display: flex;
    flex-direction: column;
}

/*                 Search menu               */

.search{
    width: 350px;
    height: 29px;
    float: right;
}
input, button{
    background: transparent;
    border: none;
    display: inline-block;
    outline: none;
}
button{
    float: right;
    cursor: pointer;
}
hr{
    max-width: 350px;
    border: none ;
    margin: 0;
    height: 1px;
    background-color: black;
    color: black;
}

/*                   Nav list                */

.list{
    margin-left: 10px;
    font-weight: 600;
    font-size: 18px;
    font-family: 'Roboto';
    color: #324950!important;
}
.navigation{
    text-align: right;
    margin-top: 42px;
}

.menu{
    justify-content: end;
}
.menu, .search{
    margin-top: -40px;
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: end;
}
.navbar a{
    text-decoration: none;
    color: inherit;
}
.logo{
    margin-right: 50px;
}
.list{
    list-style: none;
    display: flex;
    gap: 25px;
}
#toggler,
.navbar label{
    display: none;
}

/*                      Main                    */

.main{
    background: url(../images/tomatoOne/bg.svg) center center/1450px 1330px no-repeat;
}
.arrow p{
    font-weight: 400;
    font-size: 14px;
    color: #57984C;
    margin-top: 18px;
    margin-left: 15px;
}
.arrow{
    margin-left: 15px;
}
.col-md-6 .main{
    font-weight: 700;
    font-size: 54px;
    color: #57984C;
}
span{
    color: #324950;
}
.reddiv{
    margin-top: 30px;
    color: #CF2333;
    font-size: 30px;
}
.redtomato{
    margin-bottom: 40px;
    margin-left: 15px;
}
.row .line{
    margin-top: -50px;
    margin-bottom: -20px;
}
.row .name{
    color: #57984C;
    font-weight: 700;
    font-size: 20px;
}
.row .description{
    color: #324950;
    font-weight: 400;
    font-size: 17px;
    margin-bottom: 30px;
}
.lidescript{
    margin-left: 20px;
    color: #57984C;
}
.cartbtn{
    margin-top: 30px;
    float: right;
    background-color: white;
    width: 255px;
    height: 55px;
    text-align: center;
    border-radius: 50px;
    border: 5px solid green;
    color: green;
    padding-top: 10px;
}
.bigtomato{
    width: 100%;
}

/*                     footer                   */

.footer1 {
    min-height: 76px;
    background-color: #2D3F45;
    padding-top: 13px;
    list-style-type: none;
}

.footer1 .row {
    margin-top: 10px;
}

.footer__item {
    margin: 0 20px;
    margin-top: 5px;
}

.footer__item a {
    font-family: 'Roboto';
    color: #fff;
    font-size: 16px;
}

.footer__link {
    margin: 0 13px;
}

.crosses {
    padding-top: 20px;
}

.footer__menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

footer {
    background-color: #324950;
    color: #B9B9B9;
    font-family: 'Roboto';
    font-size: 14px;
    padding: 10px 0;
}